* { margin:0;padding:0;box-sizing:border-box; }
body{
	color:#4C4D4F;
	background-image: url("/images/splashimage.png");
	background-repeat: no-repeat;
	background-position: top-center; 
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
header{
	background-color: #00BCD4;
	padding: 1em 3em;
	text-align: left;
	border-bottom: .2em solid #089FAF;
}
nav{
	display: inline-block;
	padding: 10px 17px 10px 1px;
	font-size: 1.25em;
	color: #ffffff;
	font-size: 0.85em;
	font-weight: 300;
	text-align: right;
	text-transform: uppercase;
}
nav a{
	margin-left: 1em;;
}
nav a:hover{
	color: #c7ebf0;
}
section { 
	padding: 2.75em 0;
}
section#splash {
	padding: 5em 0em 0em 5em;
}
footer { 
	padding-left: 5em;
	padding-top: 2em;
	} /*etc*/
section#ActionItems{
	float: left;
}
h1{
	color:#328EAA;
	font-size: 7em;
	line-height: 1em;
	font-weight: bold;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.25em;
}
h4 {
	color:pink;
}
p {
	line-height: 1.5em;
}
.container {
	padding-left: 2em;
	background-color: #6294B7;


}
#logoText{
	font-weight: bold;
	font-size: 1.5em;
	color: #2C2C2C;

}
#menu-top-right{

}
#menu-top-left{

}
#memberLogin{
	float: right;
	background-color: #808080;
	height: 51vh;
	padding-top: 2em;
	padding-left: 1em;
	padding-right: 1em;
	font-weight: normal;
	font-family: sans-serif;

}
.buttons {
    display: inline-block;
    background-color: #5f92b9;
    padding: 1em 2em;
    color: #ffffff;
    margin-top: 3em;
    text-decoration: none;
    border-bottom: 0.25em solid #14589a;
    border-radius: 0.3em;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}
}
