body {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	letter-spacing: 0.15em;
}

#page {
	max-width: 940px;
	min-width: 720px;
	margin: 10px auto 10px auto;
	padding: 20px;
	border: 4px double #000;
	border-color: #ffffff;
}
#logo {
	width: auto;
	display: inline-block;
}

li {
	display: inline;
	margin: 0px 3px;
}

#helpnav {
	padding: 15px;
	margin: 0px auto 0px auto;
	border-bottom: none;
	font-size: 11px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	float: right;
	display: block;
}
.clear {
    clear: both;
}

#mainnav {
	font-size: 16px;
	font-weight: 700;
	color: #45555f;
	float: left;
	display: block;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: 700px;
	}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 500px;
	}

p {
	width: 600px;
	margin: 20px auto 20px auto;
	font-weight: normal;
	font-size: 16px;
}
a {
	color: #787879;
	text-transform: uppercase;
	text-decoration: none;
}
nav a:hover{
	color: #DB4249;
	background-color: #ffffff;
}

#welcome{
	background-image: url("images/splash.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-style: bold;
	color: #000000;
}
#welcome h1{
	font-style: bold;
	color: #000000;
}

#mainbottom {

}
.columns{
	margin: 10px auto 10px auto;

}
.columns a {
	border: 5px solid #ee3e80;
	padding: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}