

body {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

#page {
	max-width: 970px;
	min-width: 720px;
	margin: 10px auto 10px auto;
	padding: 20px;
	border: 4px double #000;
	border-color: #ffffff;
}
#logo {
	width: auto;
	display: block;
	float: left;
}

li {
	display: inline;
	margin: 0px 3px;
}

#helpnav {
	padding: 15px;
	margin: 0px auto 0px auto;
	border-bottom: none;
	font-size: 11px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	float: right;
	display: block;
}
.clearfix {
    overflow: auto;
}

#mainnav {
	font-size: 16px;
	font-weight: 700;
	color: #45555f;
	float: left;
	display: block;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 68px;
	font-weight: 700px;
	letter-spacing: 2px;
	}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	}
	
h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 700px; 
	}

p.freetrial a:hover {
	background-color: red;

}

p.first {
	margin: 20px auto 20px auto;
	font-weight: normal;
	font-size: 16px;
	border-top: 3px solid;
}
p {
	margin: 20px auto 20px auto;
	font-weight: normal;
	font-size: 16px;
}

a.first {
	width: 150px;
	text-align: center;
	padding: .7em;
	border-style: solid;
	border-width: 2px; 
	border-color: #4f4f4f;
	display: block;
	margin: auto;
	transform: translateY(-50%);
	background-color: #a3f3fd;
}
a {
	color: #787879;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 .5em 0 .5em;
}
nav a:hover {
	color: #000000;
}
.btn a:hover{
	background-color: blue;
}

#welcome {
	background-image: url("/images/splash.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: #000000;
	letter-spacing: 0.15em;
	border-bottom: solid 25px #000000;
	padding-top: 45px;
	text-align: center;
}
#welcome h1 {
	margin: 1.5em 1.5em;
	font-style: bold;
	color: #000000;
}

div.transbox {
    margin: 30px;
    background-color: rgba(255, 255, 255, .5)
}
.columns {
	font-size: 15px;
	float:left;
	margin: 10px auto 10px auto;
	width: 235px;
	padding-bottom: 1.5em;

}
.columns a {
	border: 2px solid #4f4f4f;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.tower {
	float: right;
}